.category-card-pack{
    width: 90%;
    margin: auto;
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
    display: flex;
    flex-wrap:wrap;
}

.category-card-pack .category-cards{
    display: flex; 
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    cursor: pointer;
    height: 300px;
    width: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.category-card-pack .category-cards img {
    min-height: 300px;
    min-width: 220px;
    border-radius: 25px;
}

.category-card-info{
    margin-top: 10px;
    display: flex;
    width: 70%;
    justify-content: space-between;
    font-size: 1.8vw;
}

.category-card-pack .category-cards .category-card-btn{
    position: absolute;
    top: 40%;
}


.category-card-pack .category-cards  button{
    border: none;
    outline: none;
    background-color: #ccc;
    padding: 15px 20px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}
.category-card-pack .category-cards:hover button{
    opacity: 0.8;
}


@media (max-width:900px) {
    .category-card-pack{
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .category-card-pack .category-cards img{
        width: 240px;
    }
    .category-card-info{
        font-size: 5vw;
    }
}